################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4_control_flow/WhileLoops/.vs/WhileLoops/DesignTimeBuild/.dtbcache.v2
